<IfModule mod_rewrite.c>
    #Header always append x-frame-options "DENY"
    #Header always append x-content-type-options "nosniff"
    #Header set x-xss-protection "1; mode=block"
    #header set Cache-Control: "no-cache, no-store, must-revalidate, private"
    #header set Pragma: "no-cache"
    RewriteEngine On

    RewriteCond %{REQUEST_URI} ^system.*
    RewriteRule ^(.*)$ /index.php?/$1 [L]

    RewriteCond %{REQUEST_URI} ^application.*
    RewriteRule ^(.*)$ /index.php?/$1 [L]

    RewriteCond %{REQUEST_URI} ^asset.*
    RewriteRule ^(.*)$ /index.php?/$1 [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>